[buildout]
extensions = 
parts = 
    instance
    omelette
    scripts
    productdistros
    releaser

extends =
    http://dist.plone.org/release/4.3.4/versions.cfg
    versions.cfg
    
effective-user = 
show-picked-versions = true
versions = versions
find-links =
    http://packages.inigo-tech.com/packages/

http-address = 8080

policies = 
# policy packages

extensions = mr.developer
sources-dir = dev/
auto-checkout = 
    sinar.representatives
    sinar.mymp 
    sinar.theme

[sources]
sinar.representatives = git https://github.com/sinar/sinar.representatives
sinar.mymp = git https://github.com/sinar/sinar.mymp
sinar.theme = git https://github.com/Sinar/sinar.theme

[mr.developer]
threads = 1

[instance]
recipe = plone.recipe.zope2instance
eggs = 
    Plone
    Pillow
    Products.feedfeeder
    Products.ContentWellPortlets
    plone.app.dexterity [grok]
    plone.app.theming
    plone.app.async
    plone.app.contenttypes
    Solgema.fullcalendar
    plone.formwidget.recaptcha
    collective.akismet
    collective.z3cform.norobots
    Products.RedirectionTool
    plone.jsonapi.routes
    collective.panels
    collective.portlet.embed
    Products.ContentWellPortlets
    collective.portlet.collectionmultiview
    sinar.theme
    sinar.mymp
    sinar.representatives
    ${buildout:policies}

products =
    ${productdistros:location}

http-address = ${buildout:http-address}
user = admin:admin 
effective-user = ${buildout:effective-user}

zodb-cache-size = 3000

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${instance:eggs}

[productdistros]
recipe = plone.recipe.distros
urls = http://wiki.webfaction.com/attachment/wiki/WebFactionSslPatch/WebFactionSSLPatch-1.0.tar.gz?format=raw

[releaser]
recipe = collective.recipe.template
input = templates/releaser.py.in
output = ${buildout:bin-directory}/releaser.py
auto-release = ${buildout:auto-checkout}
